@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NanumSquareRound';
}

/* src/index.css 또는 src/App.css 등 글로벌 스타일 파일 */
html,
body {
  @apply bg-[rgb(241,239,236)];

  scroll-behavior: smooth;
}
